*{
	padding: 0;
	margin: 0;
}

body{
	padding: 0;
	margin: 0;
	font-family: Verdana;
	color: #444;
	background: #EEE;
}

#menu{
	position:absolute;
	margin-left:0px;
	margin: 0px auto;
	border: 5px solid #DDD;
	border-bottom:0px;
	padding: 10px;
	width: 200px;
	height:85%;
	background: #FFF;
	-moz-box-shadow: 1px 1px 7px #111;
    -webkit-box-shadow: 1px 1px 7px #111;
    box-shadow: 1px 1px 7px #111;
	z-index:999;
}

#alerta{
	margin: 50px auto;
	border: 7px solid #900;
	padding: 20px;
	width: 400px;
	background: #C00;
	color: #FFF;
}

#alerta a{
	display: block;
	padding: 5px;
	color: #FFF;
}

h1{
	padding: 0;
	font-size: 2em;
}

label{
	display: block;
	margin-top: 20px;
	font-weight: bold;
}

input{
	padding: 3px;
}



.espacio{
	clear: both; height: 20px;
}

.clear{
	clear: both;
}

.tituloSistema
{	
	color:#FFFFFF;
	font-size:24px;
	font-weight:bold;
	position:relative;
	margin-left:10px;
}

.userlogin
{	
	color:#FFFFFF;
	font-size:14px;
	position:relative;
	margin-right:10px;
	cursor:pointer;
}

.shadow-suave {
    -moz-box-shadow: 1px 1px 5px #111;
    -webkit-box-shadow: 1px 1px 5px #111;
    box-shadow: 1px 1px 5px #111;
}

#buscador
{
	border:solid; border-width:1px; border-color:#999999; padding:10px;
	background-color:#ccc;
}
#datos
{
	border:solid; border-width:2px; border-color:#999999; padding:10px; position:relative; margin-top:10px;
	background-color:#ccc;
}

#formsoporte
{
	border:solid; border-width:2px; border-color:#999999; padding:10px; position:relative; margin-top:10px;
	background-color:#ccc;
}



.dato_lista
{
	font-size: 10px;
	font-family: Verdana;
}

.titulolistado
{
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

.notFilled
{
    border: 2px solid #f00;
	background-color:#f99;
	height:23px;
	width:190px;
}
.notFilled_medio
{
    border: 2px solid #f00;
	background-color:#f99;
	height:23px;
	width:100px;
}
.notFilled_min
{
    border: 2px solid #f00;
	background-color:#f99;
	height:23px;
	width:30px;
}

.resalta
{
	border: solid;
	border-width:1px;
	border-color: #003366;
	background:#F8F8F8;
	height:23px;
	width:190px;
}
.resalta_medio
{
	border: solid;
	border-width:1px;
	border-color: #003366;
	background:#F8F8F8;
	height:23px;
	width:100px;
}
.resalta_min
{
	border: solid;
	border-width:1px;
	border-color: #003366;
	background:#F8F8F8;
	height:23px;
	width:30px;
}


.msjdato_incomp
{
	position:relative;
	margin-left:5px;
	color: #FF0000;
	font-size:13px;
}
.cabecera
{
	background-color:#3278b4;
}

.cabecera_listado
{
	background-color:#3278b4;
}

.etiqueta_form
{
	color:#444;
	font-size:10px;
	font-family: Verdana;
	font-weight:600;
}

.input_form
{
	border: solid;
	border-width:1px;
	border-color:#3278b4;
	background:#ffffff;
	height:23px;
	width:190px;
}
.input_form_medio
{
	border: solid;
	border-width:1px;
	border-color:#3278b4;
	background:#ffffff;
	height:23px;
	width:100px;
}
.input_form_min
{
	border: solid;
	border-width:1px;
	border-color:#3278b4;
	background:#ffffff;
	height:23px;
	width:30px;
}

.boton_form 
{
	font-size:10px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:#ffffff;
    background:#638cb5;
    border:0px;
    height:25px;
	text-align:center;
	width:70px;
	position:relative;
	margin-top:5px;
	cursor:pointer;
	-moz-box-shadow: 1px 1px 3px #111;
    -webkit-box-shadow: 1px 1px 3px #111;
    box-shadow: 1px 1px 3px #111;
}
.boton_form_brillante
{
	font-size:10px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:#ffffff;
    background:#638cb5;
    border:0px;
    height:25px;
	text-align:center;
	width:70px;
	position:relative;
	margin-top:5px;
	cursor:pointer;
	-moz-box-shadow: 1px 1px 3px #111;
    -webkit-box-shadow: 1px 1px 3px #111;
    box-shadow: 1px 1px 3px #111;
	opacity:0.70; 				
	filter: alpha(opacity = 70);
}

