
CREATE TABLE [dbo].[ErrorCarga](
	[id] [int] NOT NULL,
	[error] [varchar](150) COLLATE Modern_Spanish_CI_AS NULL
) ON [PRIMARY]

INSERT INTO ErrorCarga(id, error) VALUES (1, 'RUT MANDANTE IGUAL A CERO');
INSERT INTO ErrorCarga(id, error) VALUES (2, 'RUT MANDANTE VACIO');
INSERT INTO ErrorCarga(id, error) VALUES (3, 'DIGITO VERIFICADOR MANDANTE INCORRECTO');
